* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: #333;
    color: white;
    padding: 10px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-header{
    font-size: 1.5rem;
}

.navbar-nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-nav-item{
    list-style: none;
}

.navbar-nav-item-link{
    color: #fff;
    text-decoration: none;
}

.navbar-nav-item-link:hover{
    text-decoration: underline;
    color: aqua;
}

main {
    padding: 20px;
    z-index: 9999;
    position: relative;
}

.element{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slide{
    opacity: 0;
}

.slide[data-active="true"]{
    opacity: 1;
    z-index: 9999;
}