@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Roboto Condensed", sans-serif;
}

header,
footer {
    background-color: #333;
    color: white;
    padding: 10px;
}

h2{
    font-size: 2rem;
}

/* Navbar ***/
.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar-header{
    font-size: 1.5rem;
}

.navbar-nav{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navbar-nav-item{
    list-style: none;
}

.navbar-nav-item-link{
    color: #fff;
    text-decoration: none;
}

.navbar-nav-item-link:hover{
    text-decoration: underline;
    color: aqua;
}

.d-none{
    opacity: 0;
}

.mb-2{
    margin-bottom: 0.6rem;
}

.underline{
    text-decoration: underline;
}

/** Main **/

main {
    padding: 20px;
    z-index: 9999;
    position: relative;
    background-color: #ffffff;
    background-image: linear-gradient(146deg, #ffffff 0%, #a6e0d1 48%, #bbd2f0 87%);
}

.element{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.slide p {
    background: #fff;
    border-radius: 1rem;
    box-shadow: inset;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600px;
}

.slide li {
    border: 1px solid #333;
    padding: 0.8rem;
    margin: 0.5rem;
    list-style: none;
    border-radius: 5rem;
    
}

.element li span {
    background-color: #333;
    color: #fff;
    padding: 0.3rem 0.5rem;
    border-radius: 100%;
    margin-right: 0.8rem;
}

.element-content{
    display: flex;
    flex-direction: column;
}
.element-content p{
    font-size: 1.5rem
}
.gap-3{
    gap: 1.5rem;
}

.gap-5{
    gap: 3rem;
}

.slide{
    opacity: 0;
}

.slide[data-active="true"]{
    opacity: 1;
    z-index: 9999;
}

.list-container{
    display: flex;
    gap: 2rem;
}

.list-container-item{
    list-style: none;
}

.btn{
    text-decoration: none;
    border-radius: 5rem;
    padding: 0.7rem 2rem;
    font-size: 1.5rem;
}

.btn-pry{
    background: #000;
    border: 1px solid #000;
    color: #fff;
}

.btn-sec{
    background: #fff;
    border: 1px solid #000;
}

@media screen and (max-width:600px) {
    .element{
        top: 0;
        left: 0;
        transform: none;
        justify-content: start;
        padding: 1rem;
    }

}